
h1 {
    color: gold;
}
.box {
    outline: 2px solid gold; 
    margin: 5px; 
}
.row {
    margin: 25px;
}
#header {
    background-color: black;
    padding-top: 20px;
}
#activity_list {
    height: 50px; 
}
form {
    text-align: center;
}

button {
    color: white;
}
